@page "/posts"
@using Hiyakasudere.Data.Internal.Data.Post
@using Hiyakasudere.Data.Internal.Config
@using Hiyakasudere.Data.Internal.MultiplatformInterfaces
@using Hiyakasudere.Pages.Modals
@using Blazored.Typeahead

@inject IPostTranslationService PostService
@inject IFileManager FileManager

<form class="row justify-content-center g-3">
    <div class="col-md-10">
        <BlazoredTypeahead SearchMethod="GetMatchingTags" @bind-Values="SelectedTagsList" MinimumLength="2" class="col">
            <SelectedTemplate>
                @context.Name
            </SelectedTemplate>
            <HelpTemplate>
                Please enter a minimum of 2 characters to perform a search.
            </HelpTemplate>
            <ResultTemplate>
                @context.Name
            </ResultTemplate>
        </BlazoredTypeahead>

    </div>
    <div class="col-md-2">
        <div class="d-grid gap-2 mx-auto">
            <button class="btn btn-danger" @onclick="@(() => UpdateTags())">Search</button>
        </div>
    </div>
</form>

<hr>

<div class="carousel slide carousel-dark text-center"
     data-mdb-ride="carousel">
    <div class="carousel-inner py-4">
        <div class="carousel-item active">
            <div class="container">
                <div class="row justify-content-center">

                    @if (booruPosts == null)
                    {
                        <div class="col-sm-2 align-self-center">
                            <div class="spinner-grow text-danger" role="status"></div>
                        </div>
                    }
                    else
                    {

                        @foreach (var post in booruPosts.Select((elem, index) => ( elem, index )))
                        {
                            <div class="col-sm-2 align-self-center">
                                <div class="card" @onclick="() => ShowModal(post.index)">
                                    <img src="@post.elem.PreviewUrl" class="card-img-top rounded" />
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center flex-nowrap">
    <div class="text-white mx-2 p-2">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" @onclick="PrevPage">Previous</a></li>
                <li class="page-item"><a class="page-link">@currentPage</a></li>
                <li class="page-item"><a class="page-link" @onclick="NextPage">Next</a></li>
            </ul>
        </nav>
    </div>
 </div>


@code {
    [CascadingParameter] IModalService Modal { get; set; } = default!;

    private IEnumerable<PostInternal> booruPosts;

    private int currentPage = 1;
    private int availablePages = 1;
    private string currentTags = "";

    protected override async Task OnInitializedAsync()
    {
        SelectedTagsList = new List<TagInternal>();
        await DisplayPage();
    }

    protected async Task UpdateTags()
    {
        PostService.UpdateTags(SelectedTagsList.ToList());
        await DisplayPage();
    }

    protected async Task DisplayPage()
    {
        SelectedTagsList = PostService.GetTags();
        availablePages = await PostService.GetPageCount();
        booruPosts = await PostService.GetPostData(currentPage);
    }

    protected async Task NextPage()
    {
        System.Diagnostics.Debug.WriteLine(currentPage + "__" + availablePages);
        if (currentPage + 1 <= availablePages)
        {
            currentPage++;
            await DisplayPage();
        }
    }

    protected async Task PrevPage()
    {
        if (currentPage - 1 >= 1)
        {
            currentPage--;
            await DisplayPage();
        }

    }

    private void ShowModal(int postId)
    {
        var options = new ModalOptions()
            {
                HideCloseButton = true,
                HideHeader = true,
                Position = ModalPosition.Middle,
                Size = ModalSize.Automatic
            };

        var parameters = new ModalParameters().Add("PostData", booruPosts.ElementAt(postId));

        var modal = Modal.Show<ModalPostFull>("", parameters, options);
        System.Diagnostics.Debug.WriteLine(currentTags);
    }

    private IList<TagInternal>? SelectedTagsList;

    protected async Task<IEnumerable<TagInternal>> GetMatchingTags(string searchText)
    {
        return await PostService.TryAutocompleteTag(searchText);
    }
    
}
